/* layout.css | http://127.0.0.1:5500/css/layout.css?_cacheOverride=1738321845066 */

@media (width > 500px) {
  .grid_index {
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-rows: 1fr; */
    /* gap: 100px; */
    grid-template-columns: 1fr 1fr;
    gap: 10%;
  }
  .pic img {
    /* width: 500px; */
    /* padding-left: 13em; */
    max-width: 100%;
  }
  .pic1 img {
    /* width: 500px; */
    /* margin-top: 8em; */
    /* padding-right: 10em; */
    max-width: 100%;
  }
  .grid_index1 {
    /* grid-template-rows: 1fr; */
    gap: 10%;
  }
  .tema1 {
    /* width: 450px; */
    max-width: 100%;
  }
  .tema2 {
    /* width: 450px; */
    /* padding-right: 19em; */
    max-width: 100%;
  }
}

.pic {
  /* height: auto; */
  /* align-content: center; */
  /* margin-top: 4em; */
  /* padding-left: 12%; */
}

.pic1 {
  /* height: auto; */
  /* align-content: center; */
}

.tema1 {
  /* padding-left: 21%; */
}

.tema2 {
  /* padding-left: 21%; */
}

/* Element | http://127.0.0.1:5500/index.html */

.grid_index1 > div:nth-child(1) {
  text-align: center;
  padding: ;
  padding-left: 10%;
}

/* Element | http://127.0.0.1:5500/index.html */

.grid_index1 > div:nth-child(2) {
  text-align: center;
  padding-right: 10%;
}
